:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
  }


  * {
    color: var(--fontColor);
    font-family: 'Times New Roman', Times, serif;
  }

  /* Menu controls */
  .menu {
    background-color: white;
    border: 2px solid Black;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    margin: 5px;
    z-index: 9999; 
  }

  .menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu li a {
    display: inline-block;
    padding: 1px 5px;
    text-decoration: none;
    border: 2px solid black;
    background-color: lavender;
    color: black;
    border-radius: 5px;
    font-size: 16px;
  }


  .title-container {
    margin-top: 80px; /* Adjust the margin-top value as needed */
    background-color: lavender;
  }

  /* 
  body {
      background-image: url(pictures/black_hole.png);
      background-size: 800px auto; /* Set the width to 800 pixels */
      background-repeat: no-repeat;
      /* background-position: center center; /* Center the background image */ */
      /* background: var(--bg); */
  } 
  */

  h1 {
      background-color: lavender;
  }

  h2 {
      background-color: var(--white);
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    margin-top: -25px;

  }

  .container {
    background-color: white; /* Set the background color to white */
    padding: 1px; /* Add padding for spacing */
    width: 300px; /* Adjust the width to your desired size */
    margin: 1 auto; /* Center the container horizontally */
  }

  .non-bullet-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin-top: 10px; /* Remove default margin */
    margin-bottom: 10px;
  }
  
  .non-bullet-list li {
    margin-bottom: 2px; /* Adjust spacing between list items */
  }

/* For page-switching animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}

  /* .btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  } */

  /* .btn {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  } */

  /* .btn:focus { outline-style: none; } */

  /* Themes */

  /* .light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }

  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  } */


