/* .footer {
    text-align: center;
    padding: 0px;
    background-color: transparent;
    color: rgb(143, 143, 143); 
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0; 
    right: 0; 
    bottom: 0;
} */



.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent; /* Footer background is transparent */
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.footer-column {
    flex: 1; /* Allows each column to take up equal space */
    padding: 0 15px; /* Adjusts spacing between columns */
    min-width: 160px; /* Prevents columns from becoming too narrow */
    text-align: left; /* Ensures text within columns is left-aligned */
}

.footer-column h3 {
    color: inherit; /* Ensures heading color matches the text color defined by the page's theme */
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 10px; /* Adds space between list items */
    color: inherit; /* List item color matches the parent text color */
}

/* You may want to add media queries to adjust the layout on smaller screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px; /* Adds space between columns when stacked */
    }
}

.footer-rights {
    flex-basis: 100%; 
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Adjust based on your spacing preferences */
    padding-top: 10px; /* Adds some spacing above the text */
    border-top: 1px solid #ffffff; /* Example border color, adjust as needed */
    color: inherit; /* Inherits the text color from the footer */
}