.sidebar {
    position: fixed;
    left: -90px; /* Hide sidebar off-screen, adjust as needed */
    top: 110px; /* Below the header */
    min-width: 160px;
    height: 100%;
    color: black;
    background-color: lavender;
    overflow-y: auto;
    transition: left 0.3s; /* Smooth transition for the hover effect */
}

@keyframes spin {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.sidebar .sidebar-icon {
    position: absolute;
    /* right: -12px; */
    top: 40px; 
    transform: translateY(-50%);
    height: 60px; /* Adjust the size as needed */
    width: 60px; /* Adjust the size as needed */
    cursor: pointer;
    animation: spin 10s linear infinite;
    padding: 1em;
    scale: 110%;
}

/* .sidebar:hover .sidebar-icon {
    transform: translateY(-50%) rotate(360deg);
    transition: transform 1s;
} */

.sidebar:hover {
    left: 0;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); Add shadow for depth */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Hide links by default */
.sidebar nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    visibility: hidden; /* Links are invisible initially */
}

/* Reveal links when hovering over the sidebar */
.sidebar:hover nav ul li a {
    visibility: visible;
    background-color: lavender; /* Optional: background color on hover */
}
