/* src/pages/Home.css */

.home {
    padding: 0px;
    font-family: 'CMU Serif', serif; /* LaTeX-style font */
    color: #333;
    line-height: 1.6;
  }
  
  .home h1 {
    font-size: 5vw;
    margin-bottom: 0px;
    text-align: center;
  }

  .home h2 {
    font-size: 3vw;
    margin-bottom: 0px;
    text-align: center;
    color: #666;
  }
  
  .home p {
    font-size: 1rem;
    text-align: justify; 
    /* Add room left and right of text */
    margin: 0px 15vw 0px 15vw;
  }