.research {
  padding: 0px;
  font-family: 'CMU Serif', serif;
}

.research h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 var(--title-gap);
}

.research h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  text-decoration: underline;
  margin: var(--section-gap) 0 var(--heading-gap);
}

.research .content {
  width: 100%;
  max-width: 100%;
}
