.research {
    padding: 0px;
    font-family: 'CMU Serif', serif; 
    line-height: 1.6;
  }
  
  .research h1 {
    font-size: 5vw; 
    margin-bottom: 0px;
    text-align: center;
  }

  .research h2 {
    font-size: 2rem;
    margin: 0vw 15vw 0px 15vw;
    color: var(--secondary-color);
  } 
  
  .research p {
    font-size: 1rem;
    text-align: center-justify; 
    text-indent: 2rem;
    /* Add room left and right of text */
    margin: 0vw 15vw 1rem 15vw;
  }