/* Dropdown container - position it relative to the header */
.dropdown {
    position: absolute;
    top: 50%; /* Adjust as needed */
    transform: translateY(-50%);
    left: 20px;
}

/* Dropdown button */
.dropbtn {
    /* Style your button */
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    left: 100%; /* Adjust if necessary */
    z-index: 1;
    /* Style your dropdown content (links) */
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
    
}

@keyframes spin {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.dropdown .dropbtn-rocket {
    position: absolute;
    /* right: -12px; */
    top: 0px; 
    transform: translateY(-50%);
    height: 80px; /* Adjust the size as needed */
    width: 80px; /* Adjust the size as needed */
    cursor: pointer;
    animation: spin 10s linear infinite;
    padding: 1em;
    scale: 110%;
}

/* .dropdown:hover {
    left: 0;
} */

.dropdown nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Hide links by default */
.dropdown nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    visibility: hidden; /* Links are invisible initially */
}

/* Reveal links when hovering over the sidebar */
.dropdown:hover nav ul li a {
    visibility: visible;
    background-color: lavender; /* Optional: background color on hover */
}