/* src/components/Footer.css */

/* Overall footer container */
.footer {
    background-color: #f9f9f9; /* Light background */
    color: #333; /* Dark text */
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd; /* Divider line at the top */
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'CMU Serif', serif; /* LaTeX-style font */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* height: auto; */
  }
  
  /* Footer columns container */
  .footer-column {
    flex: 1;
    min-width: 200px;
  }
  
  /* Footer column headers */
  .footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }
  
  /* Footer list styling */
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 10px 20px 10px 20px;
  }
  
  .footer-column li {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: #0066cc; /* Link color */
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  /* Copyright and rights section */
  .footer-rights {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #666; /* Lighter text */
    text-align: center;
    width: 100%; /* Span the full width of the footer */
  }