
.header {
    /* background: linear-gradient(to right, #E6E6FA, black); */
    background-image: url(../assets/galxies.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px; /* Reduced from 10px to 5px */
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 1000;
    margin: 0; 
    box-sizing: border-box;
}


body {
    padding-top: 10px; /* Adjust this value if necessary */
}

.header h1 {
    -webkit-text-stroke: 2px black; /* Black border around the letters */
    color: white; /* Ensures the text color is white */
    display: inline-block;
    margin: 0;
    padding: 1px; 
   
}

.header .subtitle {
    color: white;
    font-size: 0.8rem; /* Adjust the size as needed */
    margin: 0; /* To remove default margin */
}

/* .header {
    position: relative; 
} */

.header-logo {
    position: absolute;
    top: -25px;  /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    height: 150px;
    width: 150px;/* Adjust the size as needed */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px; /* Adjust if your header size changes */
}



