
.header {
    /* background: linear-gradient(to right, #E6E6FA, black); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-image: url(../assets/galxies.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 1%; /* Reduced from 10px to 5px */
    position: relative;
    width: 100%;;
    z-index: 5;
    height: auto;
    box-sizing: border-box;
}
.header h1 {
    -webkit-text-stroke: calc(0.05rem + 0.05vw) black; /* Reduced stroke for smaller screens */
    color: white;
    font-size: calc(1.8rem + 1vw); /* Dynamically adjust size based on screen width */
    margin: 0;
    padding: 1px;
}

.header .subtitle {
    -webkit-text-stroke: calc(0.02rem + 0.02vw) black;
    color: white;
    font-size: calc(0.7rem + 0.7vw); /* Adjust font size dynamically */
    margin: 0;
}

.header-content {
    flex: 1; /* Takes up the maximum available space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the text vertically and horizontally in its container */
    z-index: 2;
}

.header-logo {
    position: absolute;
    right: 10px; /* Keeps the logo to the right */
    top: 50%; /* Center the logo vertically */
    transform: translateY(-50%); /* Adjust the position to truly center it based on its height */
    height: auto;
    width: 15%;
    max-width: 150px;
    min-width: 50px;
    z-index: 1; /* Lower z-index if you want text potentially over logo */
}


/* Adjustments for tablets */
@media (max-width: 768px) {
    .header h1 {
        font-size: calc(1rem + 1vw); /* Slightly smaller to fit better */
    }
}

/* Adjustments for mobile devices */
@media (max-width: 480px) {
    .header {
        padding: 5px;
    }
    .header h1 {
        font-size: calc(0.8rem + 1vw); /* Even smaller for mobile screens */
    }
    .header-logo {
        width: 12%; /* Slightly smaller logo on mobile */
        min-width: 45px; /* Not too small to lose visibility */
    }
}




