.header {
  width: min(100%, 55rem);
  margin: 0 auto;
  padding: 4.5rem 1rem 1rem;
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
}

.header .subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  color: var(--secondary-color);
}
